[package]
name = "codespell-dict"
version = "0.4.0"
authors = ["Ed Page <eopage@gmail.com>"]
description = "Source Code Spelling Correction"
repository = "https://github.com/crate-ci/typos"
readme = "README.md"
categories = ["development-tools", "text-processing"]
keywords = ["development", "spelling"]
license = "CC-BY-SA-3.0"
edition = "2021"
rust-version = "1.59.0"  # MSRV
publish = false
include = [
  "src/**/*",
  "Cargo.toml",
  "LICENSE*",
  "README.md",
  "examples/**/*"
]

[package.metadata.release]
release = false

[dependencies]
unicase = "2.5"
dictgen = { version = "^0.2", path = "../dictgen" }
snapbox = { version = "0.3.0", features = ["path"] }

[dev-dependencies]
unicase = "2.5"
itertools = "0.10"
codegenrs = "2.0"
dictgen = { version = "^0.2", path = "../dictgen", features = ["codegen"] }
