[package]
name = "varcon-core"
version = "1.0.0"
authors = ["Ed Page <eopage@gmail.com>"]
description = "Varcon-relevant data structures"
repository = "https://github.com/crate-ci/typos"
readme = "../../../README.md"
categories = ["text-processing"]
license = "MIT"
edition = "2018"

[badges]
azure-devops = { project = "crate-ci", pipeline = "typos" }
codecov = { repository = "crate-ci/typos" }

[features]
default = []
parser = ["nom"]
flags = ["enumflags2"]

[dependencies]
nom = { version = "6", optional = true }
enumflags2 = { version = "0.6", optional = true }

[package.metadata.docs.rs]
features = [ "parser", "flags" ]
