[package]
name = "dictgen"
version = "0.2.8"
description = "Compile-time case-insensitive map"
categories = ["development-tools", "text-processing"]
keywords = ["development", "spelling", "no_std"]
license.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true
include.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = ["std"]
std = []
codegen = ["std", "dep:phf_codegen"]
map = ["dep:phf", "dep:phf_shared"]

[dependencies]
unicase = "2.7"
phf = { version = "0.11", features = ["unicase"], optional = true }
phf_codegen = { version = "0.11", optional = true }
phf_shared = { version = "0.11", optional = true }

[lints]
workspace = true
