[package]
name = "typos"
version = "0.10.2"
description = "Source Code Spelling Correction"
authors = ["Ed Page <eopage@gmail.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/crate-ci/typos"
readme = "../../README.md"
categories = ["development-tools", "text-processing"]
keywords = ["development", "spelling"]
edition = "2021"
rust-version = "1.60.0"  # MSRV
include = [
  "src/**/*",
  "Cargo.toml",
  "LICENSE*",
  "README.md",
  "examples/**/*"
]

[dependencies]
anyhow = "1.0"
thiserror = "1.0"
nom = "7.1"
unicode-xid = "0.2.3"
once_cell = "1.13.0"
serde = { version = "1.0", features = ["derive"] }
simdutf8 = "0.1.4"
itertools = "0.10"
unicode-segmentation = "1.9.0"
bstr = "0.2"
